.header {
    margin: 10px;
    background-color: @main-bg-color;
    .wrapper {
        .wrapper();
        
    }
    .container {
        position: relative;
        .row-flex();
        justify-content: space-between;
        &:before {
            position: absolute;
            z-index: 1;
            width: 100%;
            content: "";
            height: 16px;
            background-color: @main-strip-color;
        }
    }
    &__title, &__avatar {
        margin: 0 2em;
        padding: 0 0.5em;
        z-index: 2;
        background-color: @main-bg-color;
    }
    &__title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    &__avatar {
        max-width: 120px;
        max-height: 120px;
    }
}