@import  "var.less";
@import "fonts.less";
@import "header.less"; 
@import  "smart-grid.less";


.reset(); 

a {
	cursor:pointer;
	text-decoration: none;
	color:@main-color;
}

// .debug{
//     .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
// }
