section.content
    .wrapper
        .container
            .sidebar
                .sidebar__entry
                    .entry__header
                        i.fa.fa-graduation-cap(aria-hidden='true') 
                        h3 education
                    .entry__body
                        h4 Chernihiv National TG Shevchenko Pedagogical University
                        h5 Teacher of mathematics and informatics
                .sidebar__entry
                    .entry__header
                        i.fa.fa-pencil(aria-hidden='true') 
                        h3 skills
                    .entry__body
                        ul
                            li Advanced computer user
                            li Good knowledge of OS Windows
                            li Linux
                            li Excellent numerical and analytical skills
                            li Attention to detail
                .sidebar__entry
                    .entry__header
                        i.fa.fa-sitemap(aria-hidden='true') 
                        h3 social
                    .entry__body
                        ul
                            li
                                a(href='https://twitter.com/kuridz') Twitter
                                    i.fa.fa-twitter(aria-hidden='true')
                            li
                                a(href='https://www.facebook.com/oleksandr.kuric') Facebook
                                    i.fa.fa-facebook(aria-hidden='true')
                            li
                                a(href='https://github.com/kuric')  Git
                                    i.fa.fa-git(aria-hidden='true')
                .sidebar__entry
                    .entry__header
                        i.fa.fa-smile-o(aria-hidden='true') 
                        h3 likes
                    .entry__body
                        ul
                            li Read books
                            li Coding :)
                .sidebar__entry
                    .entry__header
                        i.fa.fa-frown-o(aria-hidden='true') 
                        h3 dislikes
                    .entry__body
                        ul
                            li When it rains
                            li When something does not work :(
            .experience
                .experience__header
                    i.fa.fa-briefcase(aria-hidden='true') 
                    h3 experience
                .experience__body
                    .entry
                        h4 2016 Dec - present Bucha, Ukraine
                        h5 Freelance
                    .entry
                        h4 2012 Dec - Nov 2016 METINVEST-SMC Kyiv, Ukraine
                        h5 Information Security Specialist
                        ul
                            li system administration ( Windows)
                            li software develop on C#
                            li protects system by defining access privileges, control structures, and resources
                            li recognizes problems by identifying abnormalities; reporting violations
                            li implements security improvements by assessing current situation; evaluating trends; anticipating requirements.
                    .entry
                        h4 2011 Sep - Jul “Address” portal Kyiv, Ukraine
                        h5 Product Support Manager
                        ul
                            li inputting advertisements into database
                            li inputting advertisements into real estate portals (on Internet sites)
                            li providing technical support of address.ua portal
                            li testing the portal updates (new releases)
                            li analyzing real estate market
                            li analyzing advertisements in MS Excel
                            li preparing comparative marketing analysis of the real estate market
                            li work with advertisements database (statistics, editing, updating)
                    .entry
                        h4 2008 Aug - Aug 2010 Local computer network "Ultranet" Chernihiv, Ukraine
                        h5 Administrator
                        ul
                            li software and hardware installation
                            li networking (maintenance, configuration and construction of the network)
                            li providing help desk services and technical support to network users
                            li testing of company billing system, site
                            li development plans of network cover on MS Visio, AutoCAD
                            li HTML design corporate site
                            li Internet services selling
                            li correspondence and calls management
                            li providing functional & administrative support
                            li operating standard office equipment
                            li maintenance of electronic equipment
                            li preparation of weekly reports; payrolls
                    .entry
                        h4 2006 Aug - Aug 2008 Elementary School Skrypchin, Ukraine
                        h5 Teacher of mathematics and informatics
            a(href="",id="go-top",title="Up")